body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
  background-color: #007bff;

}

.navbar-brand img {
  margin-right: 10px;
}

/* Main*/
main {
  min-height: 78vh
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(122, 114, 165, 0.1);
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;

}

.form-label {
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.card-title.text-center.mb-4 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;

}

.small-heading {
  font-size: 22px;
  font-weight: bold;

}

/* Boton Cerrar Sesion */
.text-danger {
  color: #eb081f;
}


.profesional {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px;
  text-align: center;
  border: 2px solid #007bff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.reservar-btn {
  display: inline-block;
  padding: 10px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;

}

.reservar-btn:hover {
  background-color: #0056b3;
  color: #fff;

}


.profe {
  font-size: 40px;
  padding-top: 40px;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  text-align: center;

}

.card {
  max-width: 500px;

  margin: 0 auto;

}

.form-control {
  width: 100%;

}


/* Estilos para los botones de horarios */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;

}



/* Estilos para los estados "Disponible" */
.disponible {
  color: green;
  font-weight: bold;

}

/* Estilos para los estados "No disponible" */
.no-disponible {
  color: red;
  font-weight: bold;

}

/* Footer */
footer {
  background-color: #343a40;
  color: #fff;
  margin-top: 30px;

}